
body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('texture.jpg');
    background-size: cover;
    background-position: center center;
}

header {
    /*background-image: url('texture.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 500px;
    text-align: center;
}

header h1 {
    font-size: 48px;
    margin-top: 200px;
    text-shadow: 2px 2px #333;
    w
}

section {
    margin: 50px auto;
    max-width: 800px;
    padding: 0 20px;
}

section h2 {
    font-size: 36px;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    /*background-color: #333;*/
    color: #fff;
    padding: 20px;
    text-align: center;
}
#vpn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.client {
    display: inline-block;
    border-radius: 30px;
    background-color: #0072C6;
    color: #fff;
    font-size: 16px;
    padding: 12px 24px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    font-family: mircosoft yahei;

}
.button-container {
    display: flex;
    justify-content: center;
    height: 200px;
    top: 100px;
    position: relative;
    top: -100px; /* Move the container up by 50 pixels */
}
.client:hover {
    background-color: #0062ac;
}